.channels {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #242731;
  color: white;
}

.channels h2 {
  height: 70px;
  padding: 0 20px;
  line-height: 70px;
}

.channels__add {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 32px;
  background-color: #ff5544;
  color: white;
  border: none;
}

.channels__add:hover {
  cursor: pointer;
}

.channels__add:focus {
  outline: none;
}

.channels__list {
  height: calc(100vh - 70px);
  padding: 0 20px 0 0;
  margin-left: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.channels__no-list {
  padding: 0 20px;
}

.channels__item {
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: #242731;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}

.channels__item:last-child {
  margin-bottom: 20px;
}

.channels__item:hover {
  color: #ff5544;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.channels__item--selected {
  color: white;
  background-color: #ff5544;
  font-size: 18px;
  font-weight: bold;
}

.channels__item--selected:hover {
  color: white;
}
