$red: #ff5544;
$near-black: #242731;
$gray: rgba(36, 39, 49, 0.4);

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 80px;
  text-align: center;
  padding: 0 10px;
}

.App {
  max-width: 100vw;
  overflow: hidden;
}
